@layout({title:'Login'})

<h1>
    Login
</h1>
<article>
    <form method="get" action="{{ route('google_redirect') }}">
        <button type="submit">Inicia Sesion con Google</button>
    </form>
</article>

@end